body { background: #50d807; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 30px; display: flex; }
.block-session-0 { color: #c7e6b; font-size: 19px; margin-bottom: 5px; }
.block-email-1 { color: #cec598; font-size: 12px; margin-bottom: 5px; }
.block-sms-2 { color: #a817c9; font-size: 20px; margin-bottom: 5px; }
.block-cache-3 { color: #19de2; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #82ad2c; font-size: 12px; margin-bottom: 5px; }